In [ ]:
print('Hello Coders!!!')

Hello Coders!!!

In [ ]:
# no '\n'
# By default print() prints the argument and take the cursor to next line
print('Hello')
print('coders')

Hello
coders

In [ ]:
print('Hello', end = '$')
print('coders')

Hello$coders

In [ ]:
print('Hello', end = ' ')
print('coders')

Hello coders

In [ ]:
print('Hello', 'coders')

Hello coders

In [ ]:
# Variable Creation
# Dynamically Typed Language

x = 25.50
print(type(x))

<class 'float'>

In [ ]:
x = 20
print(type(x))

<class 'int'>

In [ ]:
x = 'hello'
print(type(x))

<class 'str'>

In [ ]:
x = True
print(type(x))

<class 'bool'>

In [ ]:
x = 2 + 5j
print(type(x))

<class 'complex'>

In [ ]:
a = b = c = 10

print(a, b, c)

10 10 10

In [ ]:
a, b, c = 10, 20, 30
print(a, b, c)

10 20 30

In [ ]:
a = 10
b = 20
c = 30
print(a, b, c)

10 20 30

In [ ]:
a = b = c = 10

print(id(a))
print(id(b))
print(id(c))

94788423314208
94788423314208
94788423314208

In [ ]:
# Immutability of Integer
a = b = c = 10

print(id(a))
print(id(b))
print(id(c))

b = 30
print(b)

print(id(a))
print(id(b))
print(id(c))

94788423314208
94788423314208
94788423314208
30
94788423314208
94788423314848
94788423314208

In [ ]:
x = input('Enter a value: ')

print(x)

Enter a value: 25
25

In [ ]:
a = input('Enter first no: ')
b = input('Enter the second no: ')

print('Sum:', a + b)

Enter first no: 15
Enter the second no: 20
Sum: 1520

In [ ]:
'hello' + 'coders'

'hellocoders'

In [ ]:
'happy' + 'faces'

'happyfaces'

In [ ]:
x = input('Enter a number: ')
print(type(x))

Enter a number: 25
<class 'str'>

In [ ]:
x = int(input('Enter a number: '))
print(type(x))

Enter a number: 25
<class 'int'>

In [ ]:
a = int(input('Enter first no: '))
b = int(input('Enter the second no: '))

print('Sum:', a + b)

Enter first no: 15
Enter the second no: 20
Sum: 35

In [ ]:
# Multiple Input in Python

x = input('Enter the values: ')
print(x)
print(type(x))

Enter the values: 10 20 30 40 50
10 20 30 40 50
<class 'str'>

In [ ]:
x = input('Enter the values: ')
y = x.split()
print(y)

# Iterating through the resultant list
for i in y:
   print(i, type(i))

Enter the values: 10 20 30 40 50
['10', '20', '30', '40', '50']
10 <class 'str'>
20 <class 'str'>
30 <class 'str'>
40 <class 'str'>
50 <class 'str'>

In [ ]:
x = input('Enter the values: ')
y = x.split()
print(y)

val = []

for i in y:
  val.append(int(i))

print(val)

Enter the values: 10 20 30 40 50
['10', '20', '30', '40', '50']
[10, 20, 30, 40, 50]

In [ ]:
# List Comprehension
x = [int(i) for i in input('Enter values: ').split()]

print(x)

Enter values: 10 20 30 40 50
[10, 20, 30, 40, 50]